*{
  box-sizing: border-box;
}

$backcolor: #253141;
$messagecolor:#434a54;

.side {
  width: 300px;
  background-color: $backcolor;
  color: white;
  float: left;

  &-header{
    background-color: $backcolor;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
 
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
    
      &__menu{
        font: normal 15px FontAwesome;
        display: flex;

        .cl{
          color: white;
          margin-left: 0.3rem;
        }
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: white;
        font-size: 20px;
      }
      &__message {
        color: white;
        font-size: 10px;
        margin-top: 5px;
  // .groups {
  //   height: calc(100vh - 100px);
  //   background-color: #2f3e51;
  //   padding: 20px 20px 0;
  //   overflow: scroll;
  //   .group {
  //     box-sizing: border-box;
  //     padding: 20px 0 40px;
  //     &__group-name {
  //       color: orange;
  //       text-decoration: none;
  //     }
  //     &__latest-message {
  //       color: white;
  //       text-decoration: none;
  //       font-size: 10px;
      }
    }
  }
}
